<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [attr.ariaValuenow]="porcentaje" aria-valuemin="0" aria-valuenow="50" aria-valuemax="100" [style.width]="porcentaje + '%'"></div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [attr.ariaValuenow]="porcentaje" aria-valuemin="0" aria-valuenow="50" aria-valuemax="100" [style.width]="porcentaje + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="porcentaje = actualizar( $event )">

                </app-incrementador>
            </div>
        </div>
    </div>
</div>